/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 
    .stn1 .stntitie2 .what{
        margin-left: 0%;
        /* color: black; */
        text-transform: uppercase;
        font-weight: bold;
        opacity: 1;
        font-size: 20px;
 
     }
     .stn1 .stntitie2 .looking{
        margin-right: 0%;
        font-weight: bold;
        /* color: black; */
        text-transform: uppercase;
        opacity: 1;
        font-size: 20px;
 
     }



     .stn1 .frm {

        margin-top: 90px;
       box-shadow: 0px 20px 40px  #00000059;
       border-radius:61px;
       border: none;
       width: 100%;
       

    }

    .stn1 .slct{
       width: 90px;
     
   }
   .service .title{
       width: 100%;
   }
   .service .title p {
       width: 100%;
       font: normal normal 200 19px/30px Gotham;

   }
   .card-deck .card {
    margin-bottom: 50px;
}
.hizmet{

    height: 85vh;
    padding-bottom: 0;
    /* position: static; */


}
.hizmet .txt {
    width: 100%;
    height: 504px;
    background: linear-gradient(299deg, #FD4338E3 0%, #3D0147 90%),url(office1.jpg) center;
    background-size: cover;
    position: relative;
}
.hizmet .photo {
    width: 90%;
    height: 250px;
    /* top: 20%; */
    bottom:10%;
  
    margin: auto;
    left: 5%;
  position: absolute;

  margin-bottom: 40px;
  margin-bottom: 0;
   
}
.hizmet .photo img{
   width: 100%;
   height: 100%;
   /* margin-bottom: 50px; */
   margin-bottom: 0;
   
}
.hizmet .txt .cntr{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 30%;
    text-align: center;
    
    padding-left: 20px;
    padding-right: 10px;
    
    /* background-color: red; */
    
}




.hizmet1{

    height: 85vh;
    padding-bottom: 0;
    /* position: static; */


}
.hizmet1 .txt1 {
    width: 100%;
    height: 504px;
    background: linear-gradient(299deg, #FD4338E3 0%, #3D0147 90%),url(office1.jpg) center;
    background-size: cover;
    position: relative;
}
.hizmet1 .photo {
    width: 90%;
    height: 250px;
    /* top: 20%; */
    bottom:10%;
  
    margin: auto;
    left: 5%;
  position: absolute;

  margin-bottom: 40px;
  margin-bottom: 0;
   
}
.hizmet1 .photo img{
   width: 100%;
   height: 100%;
   /* margin-bottom: 50px; */
   margin-bottom: 0;
   
}
.hizmet1 .txt1 .cntr{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 30%;
    text-align: center;
    
    padding-left: 20px;
    padding-right: 10px;
    
    /* background-color: red; */
    
}


 
.hizmet .txt .cntr .discover{
    margin-top: 15px;
    border: none;
    width: 170px;
    height: 55px;
   
}

.blog .title{
    width: 100%;
}









.subscribe {
    height: auto;
    width: 100%;
    margin-bottom: 120px;
}
.subscribe .container{
    position: relative;
    background: transparent linear-gradient(108deg, #400247 0%, #F24039 100%) 0% 0% no-repeat padding-box;
    height:447px;
    box-shadow: 0px 30px 40px #00000059;
    border-radius: 86px;
    opacity: 1;
   
 padding-left: 50px;
 padding-right: 50px;
}
.subscribe form {
    position: relative;
  
    /* top: 30%; */
  
   
  
}

 .subscribe h3{
    text-align: center;
font: normal normal bold 22px/36px Gotham;
letter-spacing: 2.4px;
color: #FFFFFF;
}

.subscribe p{
    color: #FFFFFF;
    font: normal normal 200 13px/28px Gotham; 
}

.subscribe input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}

.head{
    width: 100%;
    height: 450px;
     background:   linear-gradient(292deg, #F74138CF 0%, #480646CC 100%),url(office1.jpg) no-repeat padding-box  ;
     background-size: cover;
     /* background: transparent linear-gradient(292deg, #F74138CF 0%, #480646CC 100%) 0% 0% no-repeat padding-box; */
    position: relative;
    color: #FFFFFF;
    /* height: 90vh; */
    font: normal normal bold 80px/38px Gotham;
    letter-spacing: 0px
}

.mission{

    /* height: 85vh; */
    padding-bottom: 0;
    /* position: static; */


}
.mission .msn{
    color: #FFFFFF;
}
.mission .txt {
    width: 100%;
    height: 504px;
    background: linear-gradient(299deg, #FD4338E3 0%, #3D0147 90%),url(office1.jpg) center;
    background-size: cover;
    position: relative;
}
.mission .photo {
    width: 90%;
    height: 250px;
    /* top: 20%; */
    bottom:10%;
  
    margin: auto;
    left: 5%;
  position: absolute;

  margin-bottom: 40px;
  margin-bottom: 0;
   
}
.mission .photo img{
   width: 100%;
   height: 100%;
   /* margin-bottom: 50px; */
   margin-bottom: 0;
   
}
.mission .txt .cntr{
    width: 100%;
    left:0%;
    top: 4%;
    text-align: center;
    
    padding-left: 20px;
    padding-right: 10px;
    
    /* background-color: red; */
    
}























.mission1{

    /* height: 85vh; */
    padding-bottom: 0;
    /* position: static; */


}
.mission1 .msn{
    color: #FFFFFF;
}
.mission1 .txt {
    width: 100%;
    height: 504px;
    background: linear-gradient(299deg, #FD4338E3 0%, #3D0147 90%),url(office1.jpg) center;
    background-size: cover;
    position: relative;
}
.mission1 .photo {
    width: 90%;
    height: 250px;
    /* top: 20%; */
    bottom:10%;
  
    margin: auto;
    left: 5%;
  position: absolute;

  margin-bottom: 40px;
  margin-bottom: 0;
   
}
.mission1 .photo img{
   width: 100%;
   height: 100%;
   /* margin-bottom: 50px; */
   margin-bottom: 0;
   
}
.mission1 .txt .cntr{
    width: 100%;
    left:0%;
    top: 4%;
    text-align: center;
    
    padding-left: 20px;
    padding-right: 10px;
    
    /* background-color: red; */
    
}






}

@media (max-width: 991.98px){

    .carousel{
        height: 120vh;
     
        /* margin-bottom: 100px; */
    }
    .carousel .carousel-item {
        height: 100vh;
      text-align: center;
      width: 100%;
      margin-top: 50px;
    }

.carousel .carousel-item .sldr{
margin-top: 10px;
/* float: left; */
width: 90%;
/* margin-left: 9%; */
border-radius: 300px;
margin-right:  5%;
}
.carousel .carousel-item .sldr-text {
margin-top: 40px;
text-align: left;
width: 90%;
left: 0%;
margin-left: 5%;
padding-right: 0;
}
.carousel .carousel-item .sldr-text p{

letter-spacing:0px;
font-style:normal ;
font-family: 'Gotham', sans-serif;
font-size:20px ;
line-height: 27px;
}
.carousel .carousel-item .sldr-text h3{

letter-spacing:0px;
font-style:normal ;
font-family: 'Gotham', sans-serif;
font-size:30px ;
line-height: 58px;
color: #FF4438;

}
.carousel .carousel-item .sldr-text a{
    letter-spacing:0px;
    font-weight: bold;
    background: transparent linear-gradient(108deg, #400247 0%, #F24039 100%) 0% 0% no-repeat padding-box;
    border: 1px solid red;
    box-shadow: 0px 20px 48px #0000004D;
    border-radius: 38px;
    padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
    font-style:normal ;
font-family: 'Gotham', sans-serif;
font-size:20px ;
line-height: 58px;
color: #ffffff; 
opacity: 1;

}

.carousel .carousel-item .caption{
   
    position: absolute;
    width: 150px;
    height: 70px;
    right: 3%;
    bottom: 780px;
    left: 60%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: transparent linear-gradient(105deg, #3A0047 0%, #FF4438 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 40px #00000059;
border-radius: 200px;
opacity: 1;
}
.carousel .carousel-item .caption-tow{

    position: absolute;
    width: 70px;
    height: 70px;
right: 3%;
bottom: 640px;
left: 82%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
background: transparent linear-gradient(105deg, #3A0047 0%, #FF4438 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 40px #00000059;
border-radius: 200px;
opacity: 1;
}
.carousel .carousel-item .caption-tree{

    position: absolute;
    width: 120px;

    height: 60px;
right: 3%;
bottom: 600px;
left: 5%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
border: 1px solid #707070;
background: transparent linear-gradient(109deg, #3A004780 0%, #FF443880 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 40px #00000059;
border-radius: 200px;
opacity: 1;
}

  















}


@media only screen and (max-width: 480px) {
    .owl-theme .owl-controls {
      margin-top: 25px;
    }
  }
  
